@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
.nav-link{
    color: orange;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    /* padding: 0px 500px; */
    margin: 0px 20px;
}

.nav-link:hover{
    color: rgb(255, 136, 0);
}
body{
    background-color: orange;
    /* margin: 0px 0px; */
}

.navbar-nav .nav-link.active{
    color: rgb(255, 136, 0);
}

.navbar-brand{
    margin-left: 30px;
    font-size: 30px;
}
.navbar-item{
    margin: 0px 6px;
}
.navbar-nav{
    margin-left: 60px;
}

.intro{
    display: flex;
    /* width: 1800px; */
    justify-content: center;
    align-items: center;
    margin: 100px;
}
.my-photo{
    /* size: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* border-radius: 390px; */
    /* margin-right: 50px; */
}
.img{
    width: 300px;
    /* height: 350px; */
    border-radius: 400px;
    border: 6px solid rgb(0, 0, 0);
    /* margin: 0px 4    0px; */

}
.form-cont{
    padding: 18px;
    border-radius: 10px;
    width: 400px;
    background-color: black;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.form-cont h1{
    /* margin-top: 1px;
    margin-left:80px; */
    color: rgba(255, 255, 255, 0.577);
    font-size: 39px;
}

label{
    color: white;
    margin-top: 18px;
}
.my-intro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}
.my-intro h1{
    text-shadow: 2px 1px  white;
    font-weight:400;
    color: black;
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navbar-brand{
    font-weight: 500;
}

.my-intro p{
    font-family: 'Roboto Slab', serif;
    /* font-family: 'Raleway', sans-serif; */

}

.form-cont button{
    background-color: orange;
    margin: 8px 0px;
    font-weight: bold;
}
.weblink a{
    text-decoration: none;
    color: white;
    margin: 0px 8px;
}

.weblink{
    /* position: absolute;
    bottom: 0px; */
    /* left: 480px; */
    /* margin-right: 1000px; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    /* padding: 10px; */
    /* width: 400px; */
}

.connect p{
    margin: 0;
    color: white;
}
.connect{
    margin-left:50px;
}
.card h5{
    font-size: 50px;
    text-align: center;
}
.portfolio-cont{
    display: flex;
    justify-content: center;
    margin: 100px;
    align-items: center;
    /* width: 100%; */
}

.card{
    width: 900px;
    /* height: 700px; */
}

.card-header{
    background-color: black;
    color: white;
}

.card-title{
    font-family: 'Exo', sans-serif;
    /* font-style: italic; */
    /* font-family: 'Raleway', sans-serif; */
    /* font */
}

.card-header{
    /* font-family: 'Exo 2', sans-serif; */
    font-weight: bolder;
    font-family: 'Marcellus', serif;
}
.card-body{
    background-color: rgb(32, 31, 31);
    color: white;
    font-family: 'Raleway', sans-serif;

}

.abt-cont{
    display: flex;
    justify-content: center;
    margin: 25px;
    align-items: center;
    padding: 0;
    /* width: max-content; */
}

#abt-card{
    margin: 0;
    width: 1500px;
    /* height: 700px; */
    background-color: black;

    border: none;
}
.card-body{
    /* background-color: black; */
    border: none;
}
#abt-card-header{
    text-align: left;
    border-bottom: 0.1px solid white;
    padding: auto 30px;
}
#abt-card-body{
    background-color: black;
    margin: 20px 0px;
    padding: 5px 25px;
}
.achiev-cont{
    display: flex;
    justify-content: center;
}

.achiev-cont p{
    font-size: 20px;
}
.achiev-card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.index-connect{
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
}

.parallelogram{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 450px;
    left: 50%;
    translate: -50%;
    height: 60px;
    background-color: #000000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /* transform: perspective(100px) rotateX(32deg) translateY(2px); */
}
.weblink a:hover{
    /* color: blue; */
    position: relative;
    bottom: 5px;
    /* width: ; */
}

@media only screen and (max-width: 768px){
    .intro{
        flex-direction: column;
        margin: 60px 0px;
    }
}

@media only screen and (max-width: 650px){
    .intro{
        flex-direction: column;
        margin: 60px;
    }
    .img{
        width: 280px;
    }
    .my-intro{
        text-align: center;
    }
}

@media only screen and (width: 820px) and (height:1180px){
    .intro{
        flex-direction:column;
    }

    .img{
        width: 400px;
    }

    .my-intro h1{
        font-size: 100px;
        /* size: 50px; */
        text-align: center;
    }

    .my-intro p{

        font-size: 35px;
    }
    .abt-cont{
        margin: 200px 35px;
    }

    .form-cont{
        width: 600px;
        margin-top: 200px ;
    }
}


@media only screen and (width: 768px) and (height:1024px){
    .intro{
        flex-direction:column;
    }

    .img{
        width: 400px;
    }

    .my-intro h1{
        font-size: 100px;
        /* size: 50px; */
        text-align: center;
    }

    .my-intro p{

        font-size: 30px;
        text-align: center;
    }
    .abt-cont{
        margin: 200px 35px;
    }

    .form-cont{
        width: 600px;
        margin-top: 200px ;
    }
}

@media only screen and (width: 912px) and (height:1368px){
    .intro{
        flex-direction:column;
    }

    .img{
        width: 450px;
    }

    .my-intro h1{
        font-size: 120px;
        /* size: 50px; */
        text-align: center;
    }

    .my-intro p{

        font-size: 35px;
        text-align: center;
    }
    .abt-cont{
        margin: 300px 35px;
        /* height: 900px; */
    }

    .form-cont{
        width: 700px;
        margin-top: 200px ;

    }
}
